<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font-family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- style-link -->
    <link rel="stylesheet" href="./style.css">
    
    <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>ToDoList</title>
</head>
<body>
    <section class="container">
        <center>
        <h1 align="center">TODO App</h1>
        </center>
        <form action="/create-task" method="POST">

            
            <table>
            <tr colspan="2">
                <td>
                    <label for="description">Description</label>
                    <input type="text" name="description" id="description" placeholder="What do you need to do?" required>
                </td>
            </tr>
            <tr class="cat-date">
                <td class="category-cell">
                    <label for="category">Category</label>
                    <select name="category" required>
                        <option>Personal</option>
                        <option>Work</option>
                        <option>School</option>
                        <option>Cleaning</option>
                        <option>Other</option>
                    </select>
                </td>

                <td class="right"">
                    <label for="date">Date</label>
                    <input type="date" name="date" required>
                </td>
            </tr>
            </table>
            <div class="button" align="center">
                <input type="submit" class="btn btn-success" id="add" value="ADD TASK">
            </div>
        </form>

        <br>

        <center>
        <h1 align="center">TASKS LIST</h1>
        </center>
        <form action="/delete-task" method="GET">
            <table class="table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Task</th>
                        <th>Category</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <% for(let i of task) { %>
                    <tr>

                        <td> <input type="checkbox" name="<%= i._id %>"></td>
                        <td>
                            <p id="task-description">
                                <%= i.description %>
                        </td>
                        <td class="category-cell <%= i.category.toLowerCase() %>">
                            <p id="task-category"><%= i.category %></p>
                        </td>
                        <td>
                            <p id="due-date">: <%= i.date %>
                            </p>
                        </td>
                    </tr>


                    <% } %>
            </table>
                <div class="delete-button" align="center"><input type="submit" class="btn btn-danger" value="DELETE TASK"></div>
        </form>
    </section>
</body>
</html>